
<h1>Ingresar nuevo familiar:</h1>
<form (ngSubmit)="onSumbmit()" #viuForm="ngForm">  
    
    
    
    <label for="person_document">person_document:</label><br>
    <input type="text" id="person_document" name="person_document"
        placeholder="person_document"
        #nombre="ngModel" [(ngModel)]="solicitud.person_document"
        required><br> <br>
    <br>

    <label for="person_first_name">person_first_name:</label><br>
    <input type="text" id="person_first_name" name="person_first_name"
        placeholder="person_first_name"
        #nombre="ngModel" [(ngModel)]="solicitud.person_first_name"
        required><br> <br>
    <br>

    <label for="person_middle_name">person_middle_name:</label><br>
    <input type="text" id="person_middle_name" name="person_middle_name"
        placeholder="person_middle_name"
        #nombre="ngModel" [(ngModel)]="solicitud.person_middle_name"
        required><br> <br>
    <br>

    <label for="person_last_name">person_last_name:</label><br>
    <input type="text" id="person_last_name" name="person_last_name"
        placeholder="person_last_name"
        #nombre="ngModel" [(ngModel)]="solicitud.person_last_name"
        required><br> <br>
    <br>

    <label for="person_second_surname">person_second_surname:</label><br>
    <input type="text" id="person_second_surname" name="person_second_surname"
        placeholder="person_second_surname"
        #nombre="ngModel" [(ngModel)]="solicitud.person_second_surname"
        required><br> <br>
    <br>

    <label for="person_direction">person_direction:</label><br>
    <input type="text" id="person_direction" name="person_direction"
        placeholder="person_direction"
        #nombre="ngModel" [(ngModel)]="solicitud.person_direction"
        required><br> <br>
    <br>

    <label for="person_phone">person_phone:</label><br>
    <input type="text" id="person_phone" name="person_phone"
        placeholder="person_phone"
        #nombre="ngModel" [(ngModel)]="solicitud.person_phone"
        required><br> <br>
    <br>

    <label for="person_mobile">person_mobile:</label><br>
    <input type="text" id="person_mobile" name="person_mobile"
        placeholder="person_mobile"
        #nombre="ngModel" [(ngModel)]="solicitud.person_mobile"
        required><br> <br>
    <br>



    <label>
        <input type="radio"
            [checked]="estado"
            (click)="seleccionarOpcion()"> Activa
    </label>

    <br>
    <br>
    
    <label for="person_notes">person_notes:</label><br>
    <input type="text" id="person_notes" name="person_notes"
        placeholder="person_notes"
        #nombre="ngModel" [(ngModel)]="solicitud.person_notes"
        required><br> <br>
    <br>

 



    <label for="relative_guest">relative_guest:</label><br>
    <input type="number" id="relative_guest" name="relative_guest"
        placeholder="relative_guest"
        #nombre="ngModel" [(ngModel)]="solicitud.relative_guest"
        required><br> <br>

    <br>

    <label for="relative_relation">relative_relation:</label><br>
    <input type="text" id="relative_relation" name="relative_relation"
        placeholder="relative_relation"
        #nombre="ngModel" [(ngModel)]="solicitud.relative_relation"
        required><br> <br>
    <br>



    

    <input type="submit" value="Envía"
        >
        <button (click)="navegarAPagina()">Cancelar</button>

</form>




